.simple-linear {
  background: bull;
  width: 100px;
  height: 100px;
}

#rightColumn {
  height: 100%;
  width: 15%;
  background-color: #80bfff;
  float: right;
}

#leftColumn {

  background-color: #80bfff;
  height: 100%;
  width: 15%;
  float: left;
}

#head {
float: center;
width: 100%;
height: 15%;
display: block;
background-color: #d6e4f9;
text-align: center;
font-family: "Calibri", "Times New Roman";
font-size: 20px;
}

#title {
  padding-top: 30px;
  text-align: center;

  font-family: "Calibri", "Times New Roman";
  font-size: 50px;

}
