.simple-linear {
  background: bull;
  width: 100px;
  height: 100px;
}



#rightColumn {
  border-style: solid;
  border-color: blue;
  height: 100%;
  width: 15%;
  background-color: blue;
  float: right;
}

#leftColumn {
  border-style: solid;
  background-color: blue;
  height: 100%;
  width: 15%;
  float: left;
}
